.App {
  height: 100%;

  display: flex;
  flex-flow: column;
}

h3 {
  flex: 0 0 auto;
  padding: 20px;
  margin: 0;
  color: rgb(200, 200, 200);
  background: rgba(10, 10, 10, 0.8);
}

.map {
  flex: 1 1 auto;
  width: 100%;
  background: #dfdfdf;
}

.map-toolbar {
  flex: 0 0 auto;
  color: rgb(200, 200, 200);
  background: rgba(10, 10, 10, 0.8);
}

.map-toolbar .toolbar-control {
  margin: 20px 0;
}

.map-toolbar .toolbar-control > label {
  display: inline-block;
  padding: 0 20px;
}

.map-toolbar .toolbar-options {
  display: inline-block;
}

.map-toolbar .toolbar-options label {
  display: inline-block;
  padding: 20px;
}
